*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*COMUNI*/

/*TABELLA*/
.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*MARGINI*/
.contenitore{
    width: 100%;
    margin:auto;
}

.margin{
    width: 80%;
    margin:auto;
    padding: 15px 0;
}

.inline{
    display: inline-block;
}

.padding-su-giu{
    padding: 10% 0;
}

/*BOTTONE ARANCIONE*/
.orange-but{
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    padding:17px;
    margin: 22px 0;
}

/*IMMAGINI*/
.img-fit{
    height: 100px;
    object-fit: contain;
    vertical-align: middle;
}

img{
    width: 100%;
}

/*LISTA*/
li{
    display: block;
    margin-left: 10px;
    text-align: left;
    list-style-type: none;
}


.fa-check-circle{
    color: orangered;
    margin: 0 10px;
}

/*FONT-TEXT*/
.text-med{
    font-size:small;
    line-height: 22px;
}

.text-xs{
    font-size: x-small;
}

.text-xl{
    font-size: 30px;
}

h2{
    margin-bottom: 15px;
    font-size: 27px;
}

h3{
    margin-bottom: 3%;
    font-size: 23px;
}

h5{
    margin: 3% 0;
    text-transform: uppercase;
    font-size: 16px;
}
/*FINE COMUNI*/


/*hEADER*/
.contenitore-nav{ 
    width: 100%;
    margin:auto;
    border-bottom: 2px solid black;
    background-color: rgba(244,249,253,255);
}

/*NAV*/
.lingua{
    width: 15%;
    border-right: 1px solid black;
}

.contatti{
    width: 50%;
    padding: 0 15px;
}

.login{
    width: 35%;
    text-align: right;
}

.login-but{
    padding: 5px 10px;
    display: inline-block;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
}

.orange-small-but{
    padding: 5px 10px;
    margin: 0;
}
/*FINE NAV*/


/*LOGO MENU*/
.logo{
    width:10%;
}

.menu{
    width: 90%;
    text-align: right;
}

div.menu *{
    display: inline-block;
}

.freccia-giu{
    padding: 0 15px;
}
/*FINE LOGO MENU*/


/*BARRA MOTTO*/
.contenitore-background{
    width: 100%;
    height: 650px;
    position: relative;
}

.jumbotron{
    background-image: url(../img/jumbotron.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.finestra{
    position: absolute;
    width: 40%;
    margin-top: 100px;
}

h1{
    font-size: 43px;
    margin-bottom: 3%;
}
/*FINE BARRA MOTTO*/
/*FINE HEADER*/


/*MAIN*/
/*SECT-SERVICE*/
/*DESCRIZIONE*/
main{
    margin-bottom: 3%;
}

section.sect-service{
    background-color: rgba(244,249,253,255);
    padding-bottom: 2%;
}

.descrizione{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 3% 0;
}

.img-cubo{
    width: 35%;
    margin: auto;
}
/*FINE DESCRIZIONE*/


/*ORIZZONTALE*/
.orizontal-serv{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5%;
}

.orizontal-left{
    width: 30%;
    text-align: center;
    padding: 25px;
    margin-top: 4%;
}

.orizontal-right{
    width: 70%;
    padding: 5% 10% 5% 0;
}

.sx{
    width: 40%;
}

.dx{
    width: 55%;
    height: 10px;
    border-top: 1px solid black;
}
/*FINE ORIZZONTALE*/

/*VERTICALE*/
.col-left,
.col-center,
.col-right{
    width: 30%;
    text-align: center;
    padding: 3%;
    background-color:white;
}

div.vertical-serv .col-center{
    margin: 0 5%;
}

.img-top {
    width: 50%;
    margin:auto;
}

div.col-left div.top .img-top,
div.col-center div.top .img-top,
div.col-right div.top .img-top{
    margin-bottom: 10px;
}

hr{
    margin: 25px 0 15px 0;
}
/*FINE VERTICALE*/
/*FINE SECT-SERVICE*/

/*SEZIONE TABELLA*/
section.sec-table{
    background-color: #00b9a9;
    padding: 2% 0 5% 0;
}

section.sec-table .margin{
    text-align: center;
    color: white;
}

.img-tab{
    height: 30px;
    width: max-content;
}

.row{
    margin-bottom: 3%;
}

.row-1{
    border-bottom: 1px solid white;
}

.margin-right{
    border-right: 1px solid white;
}

.col-tab{
    width: 25%;
    padding-bottom:2%;
}

section.sec-table div.clearfix div.col .img-xs{
    margin-top: 25px;
}
/*FINE SEZIONE TABELLA*/

/*SEZIONE SPONSOR*/
section.sec-sponsor .margin{
    background-image: url(../img/woman.webp);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 100% 100%;
    height: 550px;
    margin-top: 3%;
}

/*PARTE ALTA*/ 
/*PARTE SINISTRA ALTA*/
.dati{
    width: 40%;
    text-align: center;
    padding: 0 10%;
}

div.dati h3{
    padding: 5% 0;
}
/*FINE PARTE SINISTRA ALTA*/

/*PARTE ALTA DESTRA*/
.sponsor{
    width: 60%;
    padding-left: 5%;
    line-height: 35px;
    height: 35px;
}

.img-sponsor{
    vertical-align: middle;
}

.col-sponsor{
    width: 16%;
    height: 50%;
    margin: 0 2%;
}

.prima-col-sponsor{
    margin-left: 13%;
}
/*FINE PARTE DESTRA ALTA*/
/*FINE PARTE ALTA*/


/*FINESTRA BASSA*/
.ultima-finestra{
    width: 40%;
    position:absolute;
    padding-top: 10%;
}

/*FINE FINESTRA BASSA*/

/*FINE SEZIONE SPONSOR*/
/*FINE MAIN*/

/*FOOTER*/
/*COLONNE LINK*/
footer{
    background-color: #2d3e50;
    color: white;
}

.col-link-1,
.col-link-2,
.col-link-3,
.col-link-4{
    width: 23%;
    margin-left: 2%;
}

footer strong{
    font-weight: 800;
    line-height: 45px;
}

footer li{
    line-height: 35px;
}

footer .login-but{
    color: #2d3e50;
    background-color: white;
    border: white;
    margin-top: 2%;
}

footer i{
    margin: 8% 3%;
    font-size: 20px;
}
/*FINE COLONNE LINK*/

/*LINGUE*/
.margin-lingue{
    margin: 5% 10% 2% 10%;
}

.lingue li{
    display: inline-block;
    margin-left: 2%;
}

.lingue{
    text-align: center;
    padding-bottom: 2%;
    border-bottom: 1px solid white;
}
/*FINE LINGUE*/

/*COPYRIGHT*/
footer .img-fit{
    height: 20px;
    margin: 0;
    width: auto;
}

.col-footer-left,
.col-footer-right{
    width: 50%;
}

.col-footer-right{
    text-align: right;
}

div.col-footer-right div{
    display: inline-block;
    padding-left: 15px;
}
/*FINE COPYRIGHT*/
/*FINE FOOTER*/
