*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/*COMUNI*/

/*TABELLA*/
.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*MARGINI*/
.contenitore{
    width: 100%;
    margin:auto;
}

.margin{
    width: 80%;
    margin:auto;
    padding: 15px 0;
}

.inline{
    display: inline-block;
}

/*BOTTONE ARANCIONE*/
.orange-but{
    color: white;
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 5px;
    display: inline-block;
    padding:17px;
    margin: 22px 0;
}

/*IMMAGINI*/
.img-fit{
    height: 100%;
    object-fit: contain;
}

img{
    width: 100%;
}

/*LISTA*/
li{
    display: block;
    margin-left: 10px;
    text-align: left;
    list-style-type: none;
}


.fa-check-circle{
    color: orangered;
    margin: 0 10px;
}

/*FONT-TEXT*/
.text-med{
    font-size:small;
    line-height: 22px;
}

.text-xs{
    font-size: x-small;
}

.text-xl{
    font-size: 30px;
    padding: 10% 0;
}

h2{
    margin-bottom: 15px;
    font-size: 27px;
}

h3{
    margin-bottom: 3%;
    font-size: 23px;
}

h5{
    margin: 3% 0;
    text-transform: uppercase;
    font-size: 16px;
}
/*FINE COMUNI*/


/*hEADER*/
.contenitore-nav{ 
    width: 100%;
    margin:auto;
    border-bottom: 2px solid black;
    background-color: rgb(198, 233, 255);
}

/*NAV*/
.lingua{
    width: 15%;
    border-right: 1px solid black;
}

.contatti{
    width: 50%;
    padding: 0 15px;
}

.login{
    width: 35%;
    text-align: right;
}

.login-but{
    padding: 5px 10px;
    display: inline-block;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
}

.orange-small-but{
    padding: 5px 10px;
}
/*FINE NAV*/


/*LOGO MENU*/
.logo{
    width:10%;
}

.menu{
    width: 90%;
    text-align: right;
}

div.menu *{
    display: inline-block;
}

.freccia-giu{
    padding: 0 15px;
}
/*FINE LOGO MENU*/


/*BARRA MOTTO*/
.contenitore-background{
    width: 100%;
    height: 650px;
    position: relative;
}

.jumbotron{
    background-image: url(../img/jumbotron.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.finestra{
    position: absolute;
    width: 40%;
    margin-top: 100px;
}

h1{
    font-size: 43px;
    margin-bottom: 3%;
}
/*FINE BARRA MOTTO*/
/*FINE HEADER*/


/*MAIN*/
/*SECT-SERVICE*/
/*DESCRIZIONE*/
section.sect-service{
    background-color: rgb(198, 233, 255);
    padding-bottom: 2%;
}

.descrizione{
    width: 50%;
    margin: auto;
    text-align: center;
}

.img-cubo{
    width: 35%;
    margin: auto;
}
/*FINE DESCRIZIONE*/


/*ORIZZONTALE*/
.orizontal-serv{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5%;
}

.orizontal-left{
    width: 30%;
    text-align: center;
    padding: 25px;
}

div.orizontal-left img.img-fit{
    width: 50%;
}

.orizontal-right{
    width: 70%;
    padding: 5% 10% 5% 0;
}

.sx{
    width: 40%;
}

.dx{
    width: 55%;
    height: 10px;
    border-top: 1px solid black;
}
/*FINE ORIZZONTALE*/

/*VERTICALE*/
.col-left,
.col-center,
.col-right{
    width: 30%;
    text-align: center;
    padding: 3%;
    background-color:white;
}

div.vertical-serv .col-center{
    margin: 0 5%;
}

.img-top {
    width: 50%;
    margin:auto;
    padding-top: 25px;
}

div.col-left div.top .img-top{
    margin-bottom: 10px;
}

div.col-center div.top .img-top{
    padding: 10px;
    margin-bottom: 30px;
}

div.col-right div.top .img-top{
    padding: 25px;
    margin-bottom: 0px;
}

hr{
    margin: 25px 0 15px 0;
}
/*FINE VERTICALE*/
/*FINE SECT-SERVICE*/

/*SEZIONE TABELLA*/
section.sec-table{
    background-color: #00b9a9;
    padding: 2% 0 5% 0;
    margin-bottom: 0;
}

section.sec-table .margin{
    text-align: center;
    color: white;
}

.row{
    margin-bottom: 3%;
}

.row-1{
    border-bottom: 1px solid white;
}

.margin-right{
    border-right: 1px solid white;
}

.col-1,
.col-2,
.col-3,
.col-4{
    width: 25%;
    padding-bottom:2%;
}

#img-xs{
    padding-bottom: 0px;
}

/*FINE SEZIONE TABELLA*/

/*FINE MAIN*/
